.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  .header {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    background-color: var(--bg-header-color);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--bg-opacity-color);

    .header_inner {
      width: 100%;
      max-width: var(--page-max-width);
      padding: var(--page-inner-padding);
      height: inherit;
      margin: 0 auto;
    }
  }
  .main {
    padding: var(--page-inner-padding);
    padding-top: calc(var(--page-header-height) + 30px) !important;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: var(--page-max-width);
  }
  .footer {
    height: 100px;
    .footer_innner {
      width: 100%;
      max-width: var(--page-max-width);
      padding: var(--page-inner-padding);
      height: inherit;
      margin: 0 auto;
    }
  }
}
