.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .avatar_col {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    > img {
      transform: scale(2.5) translateX(3px) translateY(8px);
    }
  }

  > nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;

    > li {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 60px;
      font-weight: bold;
      color: $color_grey2;
      @include typho_nav_menu;
    }
    > .nav_on {
      //   background-color: rgb(245, 245, 245);
      background-color: $color_primary_tinted;
      color: $color_primary;
    }
  }
}
