.container {
  border-radius: 5px;
  > a {
    display: flex;
    gap: 20px;

    @include desktop {
      padding: 1rem;
    }
    @include mobile {
      padding: 0.5rem;
      padding-bottom: 1rem;
      flex-direction: column;
    }

    .thumbnail_col {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
      @include desktop {
        width: 125px;
        height: 125px;
      }
      @include mobile {
        width: 100%;
        height: 120px;
      }
    }

    .info_col {
      flex: 1;
      display: flex;
      flex-direction: column;

      @include desktop {
        gap: 12px;
      }
      @include mobile {
        gap: 10px;
      }

      .title {
        font-size: typho("h5");
        font-family: medium;
        font-weight: bold;
      }
      .subtitle {
        font-size: typho("p");
        color: $color_grey1;
      }
      .desc {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: typho("desc");
        .author_col {
          display: flex;
          gap: 5px;
          align-items: center;
          .author_name {
          }
          .author_avatar {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        .create_time {
          color: $color_grey2;
        }
      }
      .tag {
        display: flex;
        gap: 5px;
      }
    }
  }
}
.container:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
