.container {
  background-color: $color_primary_tinted;
  color: $color_primary;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 20px;
  font-size: typho("desc");
  font-family: medium;
}
