.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  > div {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    flex: 1;
  }

  .icon {
    justify-content: flex-end;
  }
}
