$color_primary: rgb(49, 130, 246);
$color_primary_tinted: rgba(49, 130, 246, 0.2);
$color_bg: rgb(253, 253, 252);

$color_grey0: rgb(25, 31, 40);
$color_grey1: rgb(51, 61, 75);
$color_grey2: rgb(128, 128, 128);
$color_grey3: rgb(220, 220, 220);
