$breakpoint-mobile: 480px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-mobile + 1px}) {
    @content;
  }
}

@mixin container_layout {
  max-width: 700px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}

@mixin blur_backgroud {
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

@mixin shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
